<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LISTA DE CATEGORIAS</title>
</head>
<body>
<h2 style="text-align: center;">Atualiz ;">Atualizar Categoria</h2>
<hr>

<form action="{{url_for('atualiza_categoria', id=id)}}" method="POST" class="form-control">
  <label>ID</label>
  <input class="form-control" type="text" name="id" value="{{id}}" required>
  <label>Nome</label>
  <input class="form-control" type="text" name="nome" value="{{nome}}" required>
  <button class="btn btn-success">Atualizar</button>
</form>
</body>
</html>